<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <img src="http://www.darkroomlocator.com/css/img/drl_white_bkg_300x80.png" class="img-responsive">
            <p>Ciao <span class="text-danger"><%= first_name %></span>,</p>
            <p>benvenuto su darkroom locator.</p>
            <p>Per iniziare a condividere le tue segnalazioni devi attivare il tuo account accedendo al seguente <a href='http://www.darkroomlocator.com/#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %>' target='_blank'>link</a></p>
            <p>Oppure copia ed incolla questa stringa nella url del tuo browser :</p>
            <p>http://www.darkroomlocator.com/#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %></p>
            <p></p>
            <p>Grazie</p>
            <p class='text-muted'>darkroom locator team | www.darkroomlocator.com | darkroomlocator@analogica.it</p>
        </div>            
    </div>
</div>