<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <img src="http://www.darkroomlocator.com/css/img/drl_white_bkg_300x80.png" class="img-responsive">
            <p>Hallo <span class="text-danger"><%= first_name %></span>,</p>
            <p>Willkommen bei darkroom locator.</p>
            <p>Folge <a href='http://www.darkroomlocator.com/#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %>' target='_blank'>diesem link</a>, um dein Benutzerkonto zu aktivieren und deine Einträge zu teilen.</p>
            <p>Oder füge folgenden Link in die Adresszeile deines Browsers ein:</p>
            <p>http://www.darkroomlocator.com/#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %></p>
            <p></p>
            <p>Danke</p>
            <p class='text-muted'>darkroom locator team | www.darkroomlocator.com | darkroomlocator@analogica.it</p>
        </div>            
    </div>
</div>