<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <img src="http://www.darkroomlocator.com/css/img/drl_white_bkg_300x80.png" class="img-responsive">
            <p>Hi <%= first_name %>,</p>
            <p> welcome to darkroom locator.</p>
            <p>To start sharing darkroom you must activate your account, use this <a href='www.darkroomlocator.com/#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %>' target='_blank'>link</a></p>
            <p>Or copy and paste this url in your browser :</p>
            <p>www.darkroomlocator.com/#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %></p>
            <p></p>
            <p>Thank You</p>
            <p class='text-muted'>darkroom locator team | www.darkroomlocator.com | darkroomlocator@analogica.it</p>
        </div>            
    </div>
</div>